<% url = request.original_url.split("/") %>

<div id="<%= dom_id note %>" class="d-flex flex-wrap">
  <%= image_tag(note.parent.image, class: "note_thumbnail rounded ms-2 my-1") %>

  <div class="d-flex flex-column justify-content-center ms-2">
    <p>
      <strong>
        <%= note.parent.title %>
      </strong>
    </p>

    <p>
      <i><%= note.parent.platforms %></i>
    </p>

    <p>
      <%= note.parent.description.truncate_words(10) %>
    </p>


  <% if url.include?("games") == false %>
    <div class="justify-content-end ms-5">
        <%= link_to game_note_path(note.parent, note) do %>
          <i class="stretched-link"></i>
        <% end %>
    </div>
  <% end %>
  </div>
</div>
