<div id="<%= dom_id note %>">

  <div class="d-flex flex-column">
    <span class="d-flex justify-content-between">
      <button class="button-invisible" data-bs-toggle="collapse" href="#collapseInfo">
        <h3 class="text-start"><%= note.parent.title %></h3>
      </button>
        <span class="d-flex justify-content-between">
      
          <% if current_user == @note.author %>
            <%= link_to edit_game_note_path(@note.parent, @note) do %>
              <i class="fa-solid fa-pen-to-square fa-xl pe-2 icon-color"></i>
            <% end %>

            <%= link_to game_note_path(@note.parent, @note), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa-solid fa-trash fa-xl ps-2 icon-color"></i>
            <% end %>
          <% end %>
          
        </span>
    </span>


    <div class="d-flex flex-row">
      <div class="collapse show" id="collapseInfo">
        <%= render partial: "/notes/note_small", locals: { note: note } %>
      </div>
      
      <p class="trix-content ps-2">
        <%= note.content %>
      </p> 
    </div>
  </div>

</div>
