<div id="<%= dom_id note %>">

  <h2><%= note.parent.title %></h2>

  <p>
    <button class="btn btn-dark" data-bs-toggle="collapse" href="#collapseInfo">Show info</button>
  </p>

  <div class="collapse" id="collapseInfo">
    <div>
      <%= image_tag(note.parent.image, size: 300) %>

      <p>
        <strong>Platforms:</strong>
        <%= note.parent.platforms %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= note.parent.description %>
      </p>

    </div>
  </div>
  
  <p class="trix-content">
    <%= note.content %>
  </p> 

</div>
