<div id="<%= dom_id note %>" class="d-flex my-2">
  <%= image_tag(note.parent.image, class: "note_thumbnail rounded") %>

  <div class="d-flex flex-column justify-content-center ps-1">
    <p>
      <strong>Title:</strong>
      <%= note.parent.title %>
    </p>

    <p>
      <strong>Platforms:</strong>
      <%= note.parent.platforms %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= note.parent.description %>
    </p>
  </div>

  <div class="justify-content-end ms-5">
      <%= link_to game_note_path(note.parent, note) do %>
        <i class="stretched-link"></i>
      <% end %>
  </div>
</div>
