<ul class="navbar-nav d-lg-none">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Navigation
    </a>
    <ul class="dropdown-menu dropdown-menu-end position-absolute text-end">
      <li>
        <%= link_to "search page", "/search", class: "nav-link" %>
      </li>

      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "#{current_user.username}'s notebook", notes_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "edit #{current_user.username}", edit_user_registration_path, class: "nav-link" %>
        </li>

        <li><hr class="dropdown-divider"></li>
        
        <li class="nav-item">
          <%= link_to "sign out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "sign in", new_user_session_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "sign up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end%>
    </ul>
  </li>
</ul>
