<div class="d-none d-lg-block">
  <ul class="navbar-nav d-flex align-items-center">
    
    <li>
      <%= render partial: "games/search" %>
    </li>

    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "#{current_user.username}'s notes", notes_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "edit #{current_user.username}", edit_user_registration_path, class: "nav-link" %>
      </li>
        
      <li class="nav-item">
        <%= link_to "sign out", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "sign in", new_user_session_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "sign up", new_user_registration_path, class: "nav-link" %>
      </li>
    <% end%>
  </ul>
</div>
