<%= render "search_logic" %>

<div class="d-flex flex-column align-items-center card" style="max-width: 40vh;">
  <div class="card-body second_secondary rounded text-center">
    <%= image_tag(@image_icon, class: "card-img-top") %>
    <h1 class="card-title text-center">
      <%= @title = @selected_game.fetch("name")%>
    </h1>

    <hr>

    <i>
      <%= @platforms_string %>
    </i>
    
    <hr>

    <% if @selected_game.fetch("deck") == nil %>
      <%= @description = "Sorry, no description available" %>
    <% else %>
       <%= @description = @selected_game.fetch("deck") %>
    <% end %>

    <div class="pt-3">
      <%= render "form", game: @game %>
    </div>
  </div>
</div>
