<!DOCTYPE html>
<html>
  <head>
    <title>stray thoughts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= render partial: "/shared/cdn_assets" %>
  </head>

  <body class="background">
    <%= render partial: "/shared/navbar" %>

    <%# what is this conditional doing? It looks like they both display similar things  %>
    <% if request.original_url.gsub(/[^\w\s]/, '').include?("notes") == false %>
      <div class="flash-container container">
        <div class="flash">
          <% if notice.present? %>
            <%= render partial: "shared/flash", locals: { message: notice, css_class: "success" } %>
          <% end %>
          <% if alert.present? %>
            <%= render partial: "shared/flash", locals: { message: alert, css_class: "danger" } %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="container">
        <% if notice.present? %>
          <%= render partial: "shared/flash", locals: { message: notice, css_class: "success" } %>
        <% end %>
        <% if alert.present? %>
          <%= render partial: "shared/flash", locals: { message: alert, css_class: "danger" } %>
        <% end %>
      </div>
    <% end %>

     <div class="container"> 
      <%= yield %>
    </div>
  </body>
</html>
